<md-content class="md-padding" layout-xs="column" layout="row">
	<div flex-xs="" flex-gt-xs="50" layout="column">
    	<md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch="">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">image</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-sm card-media"></div>
          </md-card-title-media>
        

      	</md-card>

    </div>

    
    </div>

    
    

    <md-content>
      <md-list flex="">
        
        <md-list-item class="md-3-line" ng-repeat="item in todos" ng-click="null">
          
          <div class="md-list-item-text" layout="column">
            
          </div>
        </md-list-item>
        <md-divider></md-divider>
        <md-subheader class="md-no-sticky">Name</md-subheader>
        
        <md-divider></md-divider>
        <md-subheader class="md-no-sticky">First Name</md-subheader>
        
    </div>
</md-content>


