<div ng-if="!user">
    User manquant ....
</div>

<md-content class="md-padding" layout-xs="column" layout="row" ng-if="user">
    <div flex="20">
            <img ng-src="{{user.photo}}" ng-if="user.photo" style="width: 100px; height: 100px;border-radius:30px"/>
        </div>


    <md-content>
      <md-list flex="">
        
        <md-list-item class="md-3-line" ng-repeat="item in todos" ng-click="null">
          
          <div class="md-list-item-text" layout="column">
            
          </div>
        </md-list-item>
        <md-divider></md-divider>
        <md-subheader class="md-no-sticky">{{user.name }} {{ }} {{ user.firstName}} </md-subheader>
        
        
        <md-divider></md-divider>
        <md-subheader class="md-no-sticky">{{user.birthDate}}</md-subheader>

        <md-divider></md-divider>
        <md-subheader class="md-no-sticky">{{user.phone}}</md-subheader>

        <md-divider></md-divider>
        <md-subheader class="md-no-sticky">{{user.email}}</md-subheader>
        
        <md-divider></md-divider>
        <md-subheader class="md-no-sticky">{{user.address}}</md-subheader>
    </div>
</md-content>
